@model IEnumerable<CF_ABCCenter.Models.Students.StudentView>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Student List</h1>

<p>
    <a asp-action="Create"> <i class="fas fa-user-plus"></i> Add New Student </a>
</p>
<table class="table table-hover " >
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderStr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanguageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenderStr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LanguageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><i class="fas fa-user-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.ID"><i class="fas fa-address-card"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"  onclick="return confirm('Do you want delete this student??')"><i class="fas fa-user-minus"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
